In [1]:
import numpy as np
import pandas as pd
file1=r'C:\Users\acer\Desktop\Python Files\Project 5\Property_train.csv'
file2=r'C:\Users\acer\Desktop\Python Files\Project 5\Property_test_share.csv'
p_train = pd.read_csv(file1,sep=',')
p_test = pd.read_csv(file2,sep=',')
p_train.head()

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,Region,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2
0,0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,A,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0
1,1,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,A,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0
2,0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,A,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0
3,0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,A,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0
4,0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,A,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0

In [2]:
p_test['Junk']=np.nan

In [3]:
p_train['data']='train'

In [4]:
p_test['data']='test'

In [5]:
p_test = p_test[p_train.columns]

In [6]:
p_all = pd.concat([p_train,p_test],axis=0)

In [7]:
p_all

,Junk,InteriorsStyle,PriceIndex8,ListDate,Material,PriceIndex9,Agency,AreaIncomeType,EnvRating,PriceIndex7,...,PriceIndex5,SubModel,Facade,State,NormalisedPopulation,BuildYear,RegionType,PropertyAge,PriceIndex2,data
0,0.0,6LLJ,14674.0,9/7/2010,UT7W,8270,CAT3,B,missing,13143.0,...,9022.0,6E9G,GREEN,MD,42077,2008,A,2,10692.0,train
1,1.0,XZ9F,4172.0,1/7/2009,PRN0,3890,CAT2,B,missing,3461.0,...,2742.0,FIVQ,SILVER,OK,77258,2002,A,7,3615.0,train
2,0.0,QWEV,8210.0,6/23/2010,A9RA,5900,CAT1,B,missing,6922.0,...,3768.0,4K0H,SILVER,SC,94514,2004,A,6,5805.0,train
3,0.0,MK2K,7309.0,3/19/2009,RRJQ,7460,OTHER,A,missing,6300.0,...,5370.0,ZLXY,WHITE,NC,82302,2002,C,7,6444.0,train
4,0.0,GK4G,9182.0,3/3/2010,HE5A,6400,OTHER,B,missing,8330.0,...,4803.0,FIVQ,SILVER,SC,49176,2007,B,3,6286.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10943,NaN,DYK9,13956.0,10/26/2009,PRN0,7500,CAT2,B,missing,12860.0,...,8879.0,DZ5Y,BLUE,OK,51629,2008,A,1,9181.0,test
10944,NaN,GK4G,7880.0,9/28/2010,HE5A,5425,OTHER,B,missing,6845.0,...,3594.0,6E9G,BLUE,TX,69990,2006,B,4,5185.0,test
10945,NaN,6LLJ,16417.0,11/18/2009,2NHM,7700,CAT3,A,missing,14663.0,...,10424.0,UTUM,GREY,VA,73737,2007,A,2,12088.0,test
10946,NaN,2XWO,11311.0,12/6/2010,NYFD,6300,CAT2,A,missing,10292.0,...,6755.0,Y29N,WHITE,NC,85960,2007,A,3,7978.0,test
10947,NaN,38WH,4657.0,8/12/2009,ZCI3,5000,CAT2,A,missing,3524.0,...,2800.0,FIVQ,GOLD,GA,69307,2004,A,5,3447.0,test

In [8]:
p_all.drop(['InteriorsStyle','ListDate','Material','SubModel'],axis =1,inplace=True)

In [9]:
p_all.select_dtypes(['object']).columns

Index(['PriceIndex8', 'Agency', 'AreaIncomeType', 'EnvRating', 'PriceIndex7',
       'PriceIndex4', 'PriceIndex1', 'PriceIndex6', 'PRIMEUNIT', 'Channel',
       'PlotType', 'Architecture', 'PriceIndex3', 'Region', 'PriceIndex5',
       'Facade', 'State', 'RegionType', 'PriceIndex2', 'data'],
      dtype='object')

In [10]:
for col in ['PriceIndex8',  'PriceIndex7','PriceIndex4', 'PriceIndex1', 'PriceIndex6',
            'PriceIndex3', 'PriceIndex5','PriceIndex2']:
    p_all[col] = pd.to_numeric(p_all[col],errors = 'coerce')

In [11]:
cat_cols1 = ['PlotType', 'Architecture','State']
for col in cat_cols1:
    freqs=p_all[col].value_counts()
    k=freqs.index[freqs>500][:-1]
    for cat in k:
        name=col+'_'+cat
        p_all[name]=(p_all[col]==cat).astype(int)
    del p_all[col]
    print(col)
cat_cols2 =['Agency', 'AreaIncomeType', 'EnvRating', 'Channel', 'PRIMEUNIT','Region','Facade','RegionType']    
for col in cat_cols2:
    dummy=pd.get_dummies(p_all[col],drop_first=True,prefix=col)
    p_all=pd.concat([p_all,dummy],axis=1)
    del p_all[col]
    print(col)
del dummy

PlotType
Architecture
State
Agency
AreaIncomeType
EnvRating
Channel
PRIMEUNIT
Region
Facade
RegionType

In [12]:
p_all.isnull().sum()

Junk                  10948
PriceIndex8             315
PriceIndex9               0
PriceIndex7             315
ExpeditedListing          0
                      ...
Facade_missing            0
RegionType_B              0
RegionType_C              0
RegionType_OTHER          0
RegionType_missing        0
Length: 96, dtype: int64

In [13]:
for col in p_all.columns:
    if (col not in ['Junk','data'])& (p_all[col].isnull().sum()>0):
        p_all.loc[p_all[col].isnull(),col]=p_all.loc[p_all['data']=='train',col].mean()

In [14]:
p_train = p_all[p_all['data']=='train']

In [15]:
del p_train['data']

In [16]:
p_test = p_all[p_all['data']=='test']

In [17]:
p_test.drop(['Junk','data'],axis=1,inplace=True,errors = 'coerce')

C:\Users\acer\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
from sklearn.model_selection import train_test_split
p_train1,p_train2 = train_test_split(p_train,test_size= 0.2,random_state = 2)
x_train=p_train1.drop(['Junk'],1)
y_train=p_train1['Junk'].astype(int)
x_test=p_train2.drop(['Junk'],1)
y_test=p_train2['Junk'].astype(int)

In [19]:
y_train.value_counts()

0    43592
1     6036
Name: Junk, dtype: int64

In [20]:
from sklearn.model_selection import RandomizedSearchCV

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
clf = RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_features=25, min_samples_leaf=20, min_samples_split=15,
                       n_estimators=500)

In [23]:
# param_dist = {"n_estimators":[100,200,300,500,700,1000],
#               "max_features": [5,10,20,25,30,35],
#               "bootstrap": [True, False],
#               'class_weight':[None,'balanced'], 
#                 'criterion':['entropy','gini'],
#                 'max_depth':[None,5,10,15,20,30,50,70],
#                 'min_samples_leaf':[1,2,5,10,15,20], 
#                 'min_samples_split':[2,5,10,15,20]
#                   }

# RandomForestClassifier(class_weight='balanced', criterion='entropy',
#                        max_features=25, min_samples_leaf=10, min_samples_split=5,
#                        n_estimators=500)

In [24]:
# random_search = RandomizedSearchCV(clf, param_distributions=param_dist,
#                                    n_iter=5,scoring='roc_auc',cv=5)
clf.fit(x_train, y_train)

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_features=25, min_samples_leaf=20,
                       min_samples_split=15, n_estimators=500)

In [25]:
# rf = random_search.best_estimator_

In [26]:
# rf.fit(x_train,y_train)

In [27]:
from sklearn.metrics import roc_auc_score

In [28]:
y_test

28610    0
54238    0
25546    0
16011    0
25341    0
        ..
29802    1
33591    0
14722    0
57387    0
2056     0
Name: Junk, Length: 12407, dtype: int32

In [29]:
predict_rf = clf.predict(x_test).astype(int)
predict_rf

array([0, 0, 0, ..., 0, 0, 0])

In [30]:
score_rf = roc_auc_score(y_test,predict_rf)

In [31]:
score_rf

0.6739232465371103

In [32]:
from sklearn.ensemble import GradientBoostingClassifier

In [33]:
# gbm_params={'n_estimators':[50,100,200,500,700],
#            'learning_rate': [0.01,.05,0.1,0.4,0.8,1],
#             'max_depth':[1,2,3,4,5,6],
# #             'min_samples_split':[2,5,10,20],
# #             'min_samples_leaf':[2,5,10,20],
#             'subsample':[0.5,0.8,1],
#             'max_features':[5,10,15,20,30,45]
#            }

In [34]:
# gbm=GradientBoostingClassifier(learning_rate=0.05, max_depth=6, max_features=25,
#                            subsample=0.8)

In [35]:
# random_search_1=RandomizedSearchCV(gbm,scoring='roc_auc',param_distributions=gbm_params,
#                                  cv=5,n_iter=10,
#                                  n_jobs=-1)

In [36]:
# gbm.fit(x_train,y_train)

In [37]:
# gb= random_search_1.best_estimator_

In [38]:
# gb.fit(x_train,y_train)

In [39]:
# predict_gb = gbm.predict(x_test).astype(int)
# score_gb = roc_auc_score(y_test,predict_gb)
# score_gb

In [41]:
X_train = p_train.drop('Junk',axis =1 )
Y_train = p_train['Junk']
clf.fit(X_train,Y_train)
test_pred = clf.predict_proba(p_test)[:,1]
pd.DataFrame(test_pred).to_csv("Gayatri_Srinivasan_Project5.csv",index=False)

In [42]:
pwd

'C:\\Users\\acer\\Desktop\\Python Files\\Project 5'